*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
 body {
	font-family: "Quicksand", sans-serif;
	color:black;
	overflow-x: hidden; 
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	font-family: "Poiret One", sans-serif;
	/*font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;*/
}
  
#more {
	display:none;
}
#myBtn {
	margin-left: 5rem ;
	margin-bottom: 4rem;
	background-color: rgb(127, 165, 69);
	color:black;
}
.homepage-bg  {
	background-color: rgba(255, 255, 255, 0.3);
}
.figure-caption {
	font-size: small-font-size;
	color: gray-600;
}
.light-bg  {
	background-color: #fdfefe;
}
.column {
	float: left;
	width: 50%;
	padding: 10px;
	height: auto;
}
.page-top {
	margin-top: 5rem;
}
.mtop {
	margin-top: 36px;
}
.mtop-40 {
	margin-top: 40px;
}
.section-title {
	padding: 1rem;
	line-height: 1.4;
 }
.cursor-pointer{
	cursor: crosshair;
}
hr {
	margin: 10px 0;
	border: none;
	border-top: 2px solid #889397;
	border-bottom: 2px solid #04506e;
	height: 3px;
}
a {
	text-decoration : none;
}
a:hover {
	text-decoration-line: underline;

}
/*@media only screen and (min-width: 1000px) {
	.words {margin-right: 4rem; margin-left: 4rem}
}*/
