*, *:before, *:after {
	margin: 0;
	padding: 0;
  }
 body {
	font-family: "Quicksand", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	color:#000000; 
}	
p {
	font-size: 17px;
}
h1, .h1, h2, .h2, h3, .h3 {
	font-family: "Poiret One", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.min-width {
	min-width: 100%;
}
.white-bg  {
	background: #ffffff;
}
.light-bg  {
	background-color: #fdfefe;
}
.no-gutters {
	margin-right: 0;
	margin-left: 0;
}
.column {
	float: left;
	width: 50%;
	padding: 10px;
	height: auto;
}
.page-section{
	position: relative;
	padding-top: 40px;	
}  
.mtop {
	margin-top: 40px;
}
.section-title {
	padding: 1rem;
	line-height: 1.4;
 }
 .section-sub {
	color: #04506e;
	text-align: center;
 }
.card-img.top{ 
	width: 100%;
	height: 100%; 
}
.valign {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.cursor-pointer{
	cursor: crosshair;
}
hr {
	margin: 10px 0;
	border: none;
	border-top: 2px solid #889397;
	border-bottom: 2px solid #04506e;
	height: 3px;
}
@media only screen and (min-width: 1000px) {
	/* For large screens: */
	.words {margin-right: 4rem; margin-left: 4rem}
}
